.header-areaUsu{
	width: 100%;
	min-height: 700px;
	background-image: url(../img/hipster.jpg);
	background-position: center bottom;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;

	.wrap{
		width: 80%;
		height: auto;
		margin: 0 auto;

		h1{
			font-size: 4rem;
			text-align: center;
			margin-bottom: .9rem;
		}
	}			
}

.area-Usu{
	width: 100%;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6rem 0;

	.wrap{
		width: 80%;
		height: auto;
		margin: 0 auto;
		
		@media (max-width: 375px) {
			width: 100%;

		}
		
	}			
}
.card{
	display: block;
	margin: 0 auto;
	width: 90%;
	height: auto;
	padding: 0 0rem .9rem;

	@media (max-width: 375px) {
			width: 100%;

	}
	
	input{
		display: block;
		width: 40%;
		float: left;
		margin: 0 5%;
		// margin: 0 auto;
		margin-bottom:2.8rem;
		padding: .7rem .8rem;
		border: 1px solid rgba(0,0,0, 0.1);
		font-size: 1.2rem;

	}

	.card-thumb{
		position: relative;
		margin: 0 auto;
		width: 300px;
		height: auto;
		margin-bottom: 3rem;

		img{
			max-width: 100%;
			height: auto;
			border-radius: 0 0 66px 66px;
		}
	}

	.card-info{
	
		form{
			width: 100%;
			height: auto;
		}
		button{
			clear: left;
			font-size: 1.2rem;
				display: block;
				width: 50%;
				margin: 0 auto;	
				text-transform: uppercase;
			    padding: 8px 45px;
			    border-radius: 300px;
			    border: 1px solid black;
			    background-color: transparent;
			    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
			margin-top: 2rem;
				&:hover{
				    border: 1px solid transparent;
				    cursor: pointer;
				    border-color: #e4fde1;
				    background-color: #e4fde1;
				}
		}
	}
}


.enviarFoto{
	color: transparent;
	font-size: 1.2rem;
	text-align: center;
	position: absolute;
	margin: 75% auto auto!important;
	width: 300px!important;
	height: 75px!important;
	background: transparent;
	border-radius: 0 0 66px 66px;
	cursor: pointer;
	line-height: 4;
	transition: all .4s;

}
.enviarFoto:hover{
	background: rgba(0,0,0,0.3);
	color: white;
}
.icon-camera{
	visibility: hidden;
	color: floralwhite; 
	margin-left: .5rem;
}
.enviarFoto:hover > i{
	visibility: visible;
}
input[type='file'] {
  display: none
}


@media (max-width: 768px){
	.enviarFoto{
		background: rgba(0,0,0,0.3);
		color: white;
	}
	.enviarFoto > i{
		visibility: visible;
	}

}