@charset 'utf-8';

*{
	box-sizing: border-box;
}
@import "reset/reset";
@import "pallete/_pallete";
@import "var/var";
@import "placeholders/placeholders";
@import "mixins/mixins";

body, html{
	font-size: 16px;
	overflow-x: hidden;
	font-family: $font-family;
}
//cabaçalho
header{
	width: 100%;
	min-height: 700px;
	background-image: url('../img/sobre.jpg');
	@extend %background-fixed;
	@extend %flex;
    position: relative;
    z-index: 3;
    
    &:after{
        content: '';
        width: 100%;
        z-index: 1;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
	
}
.main-menu-diferente{
	position: fixed;
    left: 0;
    right: 0;
    width: 100%;
	height: 50px;
    transition: all .35s;
    z-index: 9;
}
.main-menu{
	position: fixed;
    left: 0;
    right: 0;
    width: 100%;
	height: 50px;
    transition: all .35s;
    z-index: 9;

}
.logo{
	width: 195px;
	height: auto;
	display: block;
	@media (max-width: 768px){
		width: 155px;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}
//menu-main
	.header-top{
		width: 90%;
		height: 40px;
		margin: 0 auto;
	    padding: 0rem .2rem 0 .2rem;
		@include flex(center, space-between);
		padding-top: 2rem;
	    transition: all .35s;
        z-index: 3
	}
	nav{
		width: auto;
		height: auto;
		display: flex;
		ul{
			@extend %flex;
			margin-right: .8rem;
			transition: .2s all linear;
			li{
				padding-left: .6rem;
				padding-right: .6rem;
			    transition: .2s all linear;
			}
			li:after{
				content: '';
			    display: block;
			    width: 0;
			    height: 5px;
			    background: #000;
			    transition: width .3s;
			}
			li:hover:after{
				width: 100%;
			}
			a{
				color: white;
				cursor: pointer;
				text-transform: uppercase;
				font-size: .9rem;
				font-weight: bolder;
			}
		}

	}
	.btn-login{
		@include btn-padrao(8px, 45px);
	}

.scrolling{

	nav ul li a{
		color: black;
	}
	.btn-login{
		color: black;
		border: 1px solid black;
		transition: all linear .4s;
	}

	.btn-hamburguer{
		color: black;
	}

	.logo{
		width: 151px;
	}
}
.apresentacao{
	width: 90%;
	margin: 0 auto;
    z-index: 3;


	h1{
		font-size: 3.8rem;
		color: #fff;
		letter-spacing: 1rem;
		text-align: center;
	    text-shadow: 1px 1px 50px;
        font-weight: bolder;

		@media(max-width: 425px){
			font-size: 2.7rem;
		}
	}

	h6{
		margin-top: .8rem;
		font-size: 1.3rem;
		color: #fff;
		letter-spacing: .2rem;
		text-align: center;
        font-weight: bolder;
	}
}

.intersecao-1{
	width: 100%;
	height: 300px;
	background-image: url(../img/intersection-1.jpg);
	background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    @extend %flex;
    position: relative;
     &::after{
     	    width: 100%;
		    height: 100%;
		    z-index: 1;
		    position: absolute;
		    top: 0;
		    background-color: rgba(0, 0, 0, .6);
		    content: "";
		    display: block;
     }

	.wrap{
		@extend %wrap;
		position: relative;
	    z-index: 12;
		

	    h2{
	    	font-size: 2rem;
	    	color: #fff;
	    	text-align: center;
	    	letter-spacing: .7rem;
	    	margin-bottom: .9rem;
	    	font-weight: bolder;

	    	@media (max-width: 767px){
				letter-spacing: .1rem;
	    	}
	    	@media (max-width: 375px){
				font-size: 1.8rem;
	    	}
	    	@media (max-width: 325px){
				font-size: 1.5rem;
	    	}

	    }
	    h6{
	    	font-size: 1rem;
    		color: #fff;	
	    	text-align: center;
	    	letter-spacing: .1rem;
	    }
	}
}
.introduceProduct{
	min-height: 300px;
	max-width: 100%;
	background-color: #fff;
	padding: 9rem 0;

	div{
		width: 80%;
		height:auto;
		margin:auto;
		@media  (max-width: 425px){
			width: 95%;			
		}

		h2{
			font-size: 3.5rem;
			text-align:center;
			display: block;
			font-weight: bolder;
			margin-bottom: 1.6rem;
			@media (max-width: 425px) {
				font-size: 2.9rem;
			}
		}
		.introduceProduct-p{
			margin-top: 7rem;

			p{
				text-align: center;
				font-size: 1.2rem;
				line-height: 1.8rem;

			}
		}
	}
}


.menu-fixo{
    background: rgba(255,190,0,.84);	
    height: 68px;
	z-index: 9999;
    box-shadow: 1px 1px 15px;
}

.algunsClientes{
    width: 100%;
    min-height: 500px;
    
    h2{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 5rem;
    }
    .wrap{
        width: 100%;
        height: auto;
	    margin: 0 auto;
        @include flex(center, space-evenly);
        flex-flow: row wrap;
    }
    
    .cliente{
        width: 360px;
        min-width: 200px;
        border-radius: .4rem;
        height: 500px;
        min-height: 170px;
        padding: 1.3rem;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        margin: .9rem;
        margin-bottom: 5rem;
        
        .destaque-cliente{
           position: relative;
            top: -90px;
            width: 100%;
            height: 52%;
            padding: 1.3rem;
            background: map-get($pallete, amarelo);
            margin: 0 auto;
            border-radius: 6px;
            box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
        }
        .info-cliente{
            width: 100%;
            height: auto;
            padding: .9rem;
        }
        h3{
            font-weight: bolder;
            font-size: 1.8em;
            text-align: center;
        }
        p{
            color: #555;
            line-height: 1.3;
            min-height: 15vh;
            text-align: center;
            margin-top: .9rem;
        }
    }
}

//estilização do menu dropdown
.menu-dropdown{
    width: 100%;
    min-height: 30px;
    background: #fff;
	opacity: 0;
	position: absolute;
    right: auto;
    left: 0;
    top: 66px;
    transform: translate3d(100%, 0, 0);
    padding: 1.4rem 0;
    transition:  transform .5s ease, opacity, linear .4s;
    -webkit-transition:  transform .5s ease, opacity linear .4s;
	-moz-transition:  transform .5s ease, opacity linear .4s;

	.b-l-dropdowm{
		display: block;
		margin: auto;
		margin-bottom: .9rem;
		font-size: 1rem;
		color: black;
		border: 1px solid;
		padding: 8px 70px;
	}
    ul{
    	width: 80%;
    	height: auto;
    	margin: 0 auto;
		a{
			display: block;
			margin: auto;
		}
    }

    li{
    	padding-top: .9rem;
	    padding-bottom: .9rem;
	    @extend %flex;
	    border-radius: 66px;
    	&:hover{
    		background-color: #fcfcfc;
    	}

    	a{	
    		display: block;
    		margin: auto;
		    padding: .2rem .9rem;
    		color: black;
			cursor: pointer;
			text-transform: uppercase;
			font-size: 1.1rem;
			font-family: $font-family;

    	}
    }
}

.servicos{
	width: 100%;
	min-height: 400px;
	padding: 9rem 0;
	h2{
		text-align: center;
		text-transform: uppercase;
		font-size: 3rem;
		font-weight: 500;
		
		@media (max-width: 767px){
			font-size: 2.3rem;
		}
	}
	.apresentaPlanos{
		width: 80%;
		height: auto;
		margin: 9rem auto;
		display: flex;
		
		@media (max-width: 1024px){
			width: 90%;
			flex-flow: column wrap;
		}

	}

	.btn-quero-cont{
		@include btn-padrao(20px, 46px, black);
		margin: 0 auto;
	}
}

.planos{
	width: auto;
	min-height: 1px;
	padding-right: .9rem;
	padding-left: .9rem;
	text-align: justify;

	@media (max-width: 1024px){
			width: 100%;
			margin-bottom: 2rem;
	}	

	img{
		display: block;
		margin: 0 auto;
		margin-bottom: 2rem;
		max-width: 180px;
		max-height: 180px;
	}

	h3{
		font-size: 2rem;
		text-align: center;
		margin-bottom: 2rem;
		font-weight: bolder;
		color: #222;
	}

	p{
		font-size: 1.2rem;
		line-height: 1.4rem;
		font-weight: 300;
		text-align: center;
		@media (max-width: 1024px){
			padding: 0 8rem;
		}
		@media (max-width: 700px){
			padding: 0;
		}
	}
}


/*parte de contato do home*/
.contato{
	width: 100%;
	min-height: 100px;
	background-color: #fcfcfc;
	padding: 9rem 0;

	.wrap{
		@extend %wrap;

		h3{
			font-size: 2.4rem;
			text-align: center;
			margin-bottom: .5rem;
		}
		h4{
			text-align: center;
			margin-bottom: .9rem;
		}

		form{
			width: 100%;
			height: auto;
			margin: 0 auto;
			

			input{
				width: 60%;
				display: block;
				margin: 0 auto;
				border: 1px solid rgba(0, 0, 0, .4);
				border-radius: 5px;
				padding: .9rem;
				margin-bottom: 2rem;
				transition: box-shadow .3s;
				-webkit-transition: box-shadow .3s;
				-moz-transition: box-shadow .3s;

				@media (max-width: 768px) {
					
					width: 90%;
				}
			}	

			button{
				@include btn-padrao(20px, 46px, black);
				margin: 0 auto;
			}
		}
	} 
}


footer{
	width: 100%;
	min-height: 50px;
	background-color: #222;
	padding: 2rem 0;
	.wrap{
		@extend %wrap;
	}
	h6{
		font-size: .9rem;
		text-align: center;
		color: #fff;
	}
}


.menu-show{
	opacity: 1;
	transform: translate3d(0, 0,0);
	transition: transform linear .5s, opacity linear .5s;
}
.modal{
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height:100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .3);
	border: transparent;
	z-index: 9999;
	transition: all cubic-bezier(0.4, 0, 0.09, 0.12);
	
	.close-modal{
		width: 60px;
		height: 60px;
		position: absolute;
		left: auto;
		right: 5%;
		top: 15px;
		padding: .9rem;
		@extend %flex;
	    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

		&:hover{
			cursor: pointer;
			background: rgba(0, 0, 0, .3);
			border-radius: 50%;
		}
	}
	.img-usuario{
		width: 100px;
		height:100px;
		margin: 0 auto; 
		background: linear-gradient(to bottom, #fff, #cdcdcd);
		border-radius: 50%;
		@extend %flex;
		margin-bottom: 2rem;
	}
	> div{

		position: absolute;
		margin: auto;
		width: 300px;
		min-height: 100px;
		background-color: #fcfcfc;
		padding: 5rem 0 3rem 0;
		border-radius: 10px;
	    left: 0;
	    right: 0;
	    top: 60px;
	    box-shadow: 0px 0px 160px 1px rgba(0,0,0,0.3);
	    transition: all .4s;
		
	    @media(min-width: 375px){
	    	width: 360px;
	    }

		@media(min-width: 700px){
	    	width: 460px;
	    }
	}
	form{
		width: 80%;
		margin: 0 auto;
		min-height: 80%;

		input{
			width: 100%;
			padding: .4rem;
			display: block;
			margin-bottom: .9rem;
			border-radius: 66px;
			border: 1px solid rgba(0,0,0,0.5);
			transition: padding ease-in .4s;
			font-size: 1.2rem;

			&::placeholder{
				font-size: 1.2rem;
			}

			&:focus{
				
			    outline: none;
			    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);	
			}
		}
		button{
			font-size: 1.3rem;
			margin-top: .9rem;
			margin-bottom: .9rem;
			width: 100%;
			text-transform: uppercase;
		    padding: 12px 45px;
		    border-radius: 300px;
		    border: 1px solid black;
		    background-color: transparent;
		    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
			text-align: center;
			&:hover{
			    border: 1px solid transparent;
			    cursor: pointer;
			    border-color: #e4fde1;
			    background-color: #e4fde1;
			}

			&:focus{

			}
		}
	}

	a{
		display: block;
		text-align: center;
	}
}
//apresenta o modal
.display-modal{
	opacity: 1;
	visibility: visible;
	display: block;
}

.d-none{
	opacity: 0;
	visibility: hidden;
	display: none;
}
.area-que-muda-cadastro{
    > div{
        width: 60px;
        height: 60px;
        position: absolute;
        left: 5%;
        right: auto;
        top: 15px;
        padding: 0.9rem;
        @include flex(center, center);
        transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover{
            cursor: pointer;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
        }
    }
    #logar{
        position: absolute;
        transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        
    }
}
.desfoque{
	filter: blur(2px);
}
.btn-hamburguer{
	color: white;
	display: none;
	transition: all .8s;
}

@media (max-width: 900px){

	nav ul, nav button{

		display: none!important;

	}
	.btn-hamburguer{
		display: block!important;
		cursor: pointer;

	}
}

/*Sobre CSS*/
@import 'sobre';
/*Planos CSS*/
@import 'planos';

@import 'contato';

/*CSS da AREA de Login para Mobile*/ 
@import 'area-Login';

/* Cadastro para o Mobile*/
@import 'cadastro-mobile';

/* Area do Usuario*/
@import 'areaUsuario';