* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  font-size: 16px;
  overflow-x: hidden;
  font-family: opens sans, Lato,Helvetica,Arial,Catamaran,Helvetica,Arial,sans-serif; }

header {
  width: 100%;
  min-height: 700px;
  background-image: url("../img/banner-home.jpg");
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }

.main-menu {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  transition: all .35s; }
  .main-menu .logo {
    width: 195px;
    height: auto;
    display: block; }
    @media (max-width: 768px) {
      .main-menu .logo {
        width: 140px; } }
    .main-menu .logo img {
      max-width: 100%;
      height: auto; }

.header-top {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  padding: 0rem .2rem 0 .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  transition: all .35s; }

nav {
  width: auto;
  height: auto;
  display: flex; }
  nav ul {
    display: flex;
    align-items: center;
    margin-right: .8rem;
    transition: .2s all linear; }
    nav ul li {
      padding-left: .6rem;
      padding-right: .6rem;
      transition: .2s all linear; }
    nav ul li:after {
      content: '';
      display: block;
      width: 0;
      height: 5px;
      background: #000;
      transition: width .3s; }
    nav ul li:hover:after {
      width: 100%; }
    nav ul a {
      color: white;
      cursor: pointer;
      text-transform: uppercase;
      font-size: .9rem; }

.btn-login {
  color: white;
  text-transform: uppercase;
  padding: 8px 45px;
  border-radius: 300px;
  border: 1px solid white;
  background-color: transparent;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out; }
  .btn-login:hover {
    color: black;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #e4fde1;
    background-color: #e4fde1; }

.scrolling nav ul li a {
  color: black; }
.scrolling .btn-login {
  color: black;
  border: 1px solid black;
  transition: all linear .4s; }
.scrolling .btn-hamburguer {
  color: black; }
.scrolling .logo {
  width: 180px; }

.apresentacao {
  width: 90%;
  margin: 0 auto; }
  .apresentacao h1 {
    font-size: 3.8rem;
    color: #fff;
    letter-spacing: 1rem;
    text-align: center;
    text-shadow: 1px 1px 5px; }
    @media (max-width: 425px) {
      .apresentacao h1 {
        font-size: 2.7rem; } }
  .apresentacao h6 {
    margin-top: .8rem;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: .2rem;
    text-align: center; }

.intersecao-1 {
  width: 100%;
  height: 300px;
  background-image: url(../img/intersection-1.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .intersecao-1::after {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    display: block; }
  .intersecao-1 .wrap {
    width: 80%;
    height: auto;
    position: relative;
    z-index: 12; }
    .intersecao-1 .wrap h2 {
      font-size: 2rem;
      color: #fff;
      text-align: center;
      letter-spacing: .7rem;
      margin-bottom: .9rem;
      font-weight: 700; }
      @media (max-width: 767px) {
        .intersecao-1 .wrap h2 {
          letter-spacing: .1rem; } }
    .intersecao-1 .wrap h6 {
      font-size: 1rem;
      color: #fff;
      text-align: center;
      letter-spacing: .1rem; }

.introduceProduct {
  min-height: 300px;
  max-width: 100%;
  background-color: #fff;
  padding: 14rem 0; }
  .introduceProduct div {
    width: 80%;
    height: auto;
    margin: auto; }
    .introduceProduct div h2 {
      font-size: 3.5rem;
      text-align: center;
      display: block;
      margin-bottom: 1.6rem; }
    .introduceProduct div .introduceProduct-p {
      margin-top: 7rem; }
      .introduceProduct div .introduceProduct-p p {
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.8rem; }

.menu-fixo {
  background: #fff;
  height: 68px;
  z-index: 9999; }

.menu-dropdown {
  width: 100%;
  min-height: 30px;
  background: #fff;
  display: none !important;
  position: absolute;
  right: auto;
  left: 0;
  top: 66px;
  transform: translate3d(100%, 0, 0);
  padding: 1.4rem 0;
  transition: transform .5s ease;
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease; }
  .menu-dropdown .b-l-dropdowm {
    display: block;
    margin: auto;
    margin-bottom: .9rem;
    font-size: 1rem; }
  .menu-dropdown ul {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .menu-dropdown ul a {
      display: block;
      margin: auto; }
  .menu-dropdown li {
    padding-top: .9rem;
    padding-bottom: .9rem;
    display: flex;
    align-items: center;
    border-radius: 66px; }
    .menu-dropdown li:hover {
      background-color: #fcfcfc; }
    .menu-dropdown li a {
      display: block;
      margin: auto;
      padding: .2rem .9rem;
      color: black;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.1rem;
      font-family: opens sans, Lato, Helvetica, Arial, Catamaran, Helvetica, Arial, sans-serif; }

.servicos {
  width: 100%;
  min-height: 400px;
  padding: 9rem 0; }
  .servicos h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem; }
    @media (max-width: 1024px) {
      .servicos h2 {
        font-size: 2.5rem; } }
  .servicos .apresentaPlanos {
    width: 80%;
    height: auto;
    margin: 9rem auto;
    display: flex; }
    @media (max-width: 1024px) {
      .servicos .apresentaPlanos {
        width: 90%;
        flex-flow: column wrap; } }
  .servicos .btn-quero-cont {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 20px 46px;
    border-radius: 300px;
    border: 1px solid black;
    background-color: transparent;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out; }
    .servicos .btn-quero-cont:hover {
      border: 1px solid transparent;
      cursor: pointer;
      border-color: #e4fde1;
      background-color: #e4fde1; }

.planos {
  width: auto;
  min-height: 1px;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: justify; }
  @media (max-width: 1024px) {
    .planos {
      width: 100%;
      margin-bottom: 2rem; } }
  .planos img {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 160px;
    height: auto; }
  .planos h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
    color: #222; }
  .planos p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 200;
    text-align: center; }
    @media (max-width: 1024px) {
      .planos p {
        padding: 0 8rem; } }
    @media (max-width: 700px) {
      .planos p {
        padding: 0; } }

/*parte de contato do home*/
.contato {
  width: 100%;
  min-height: 100px;
  background-color: #fcfcfc;
  padding: 9rem 0; }
  .contato .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .contato .wrap h3 {
      font-size: 2.4rem;
      text-align: center;
      margin-bottom: .5rem; }
    .contato .wrap h4 {
      text-align: center;
      margin-bottom: .9rem; }
    .contato .wrap form {
      width: 100%;
      height: auto;
      margin: 0 auto; }
      .contato .wrap form input {
        width: 60%;
        display: block;
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        padding: .9rem;
        margin-bottom: 2rem;
        transition: box-shadow .3s;
        -webkit-transition: box-shadow .3s;
        -moz-transition: box-shadow .3s; }
        @media (max-width: 768px) {
          .contato .wrap form input {
            width: 90%; } }
      .contato .wrap form button {
        display: block;
        margin: 0 auto;
        text-transform: uppercase;
        padding: 20px 46px;
        border-radius: 300px;
        border: 1px solid black;
        background-color: transparent;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out; }
        .contato .wrap form button:hover {
          border: 1px solid transparent;
          cursor: pointer;
          border-color: #e4fde1;
          background-color: #e4fde1; }

footer {
  width: 100%;
  min-height: 50px;
  background-color: #222;
  padding: 2rem 0; }
  footer .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
  footer h6 {
    font-size: .9rem;
    text-align: center;
    color: #fff; }

.menu-show {
  display: block !important;
  transform: translate3d(0, 0, 0); }

.modal-login {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  border: transparent;
  z-index: 9999;
  transition: all cubic-bezier(0.4, 0, 0.09, 0.12); }
  .modal-login .close-modal {
    width: 60px;
    height: 60px;
    position: absolute;
    left: auto;
    right: 5%;
    top: 15px;
    padding: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1); }
    .modal-login .close-modal:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%; }
  .modal-login .img-usuario {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #fff, #cdcdcd);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; }
  .modal-login > div {
    position: absolute;
    margin: auto;
    width: 300px;
    min-height: 100px;
    background-color: #fcfcfc;
    padding: 3rem 0 5rem 0;
    border-radius: 10px;
    left: 0;
    right: 0;
    top: 80px;
    box-shadow: 0px 0px 160px 1px rgba(0, 0, 0, 0.3); }
    @media (min-width: 375px) {
      .modal-login > div {
        width: 360px; } }
    @media (min-width: 700px) {
      .modal-login > div {
        width: 460px; } }
  .modal-login form {
    width: 80%;
    margin: 0 auto;
    min-height: 80%; }
    .modal-login form input {
      width: 100%;
      padding: .9rem .4rem;
      display: block;
      margin-bottom: .9rem;
      border-radius: 66px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      transition: padding ease-in .4s;
      font-size: 1.2rem; }
      .modal-login form input::placeholder {
        font-size: 1.2rem; }
      .modal-login form input:focus {
        padding: 0.9rem;
        outline: none;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2); }
    .modal-login form button {
      font-size: 1.3rem;
      margin-top: .9rem;
      margin-bottom: .9rem;
      width: 100%;
      text-transform: uppercase;
      padding: 12px 45px;
      border-radius: 300px;
      border: 1px solid black;
      background-color: transparent;
      transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
      text-align: center; }
      .modal-login form button:hover {
        border: 1px solid transparent;
        cursor: pointer;
        border-color: #e4fde1;
        background-color: #e4fde1; }
  .modal-login a {
    display: block;
    text-align: center; }

.display-modal {
  display: block; }

.desfoque {
  filter: blur(2px); }

.btn-hamburguer {
  color: white;
  display: none;
  transition: all .8s; }

@media (max-width: 900px) {
  nav ul, nav button {
    display: none !important; }

  .btn-hamburguer {
    display: block !important;
    cursor: pointer; } }
/*Sobre CSS*/
.header-sobre {
  width: 100%;
  min-height: 500px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-sobre .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .header-sobre .wrap h1 {
      text-align: center;
      font-size: 4rem;
      margin-bottom: .9rem;
      line-height: 4rem; }
    .header-sobre .wrap h6 {
      text-align: center;
      font-size: 1rem; }

.main-sobre {
  width: 100%;
  min-height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0; }
  .main-sobre .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .main-sobre .wrap article {
      width: 100%;
      height: auto;
      padding: 0 6rem;
      margin-bottom: 2rem; }
      @media (max-width: 768px) {
        .main-sobre .wrap article {
          padding: 0 3rem; } }
      @media (max-width: 425px) {
        .main-sobre .wrap article {
          padding: 0 0rem; } }
      @media (min-width: 1024px) {
        .main-sobre .wrap article {
          padding: 0 8rem; } }
      .main-sobre .wrap article h2 {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2.8rem; }
      .main-sobre .wrap article p {
        text-align: center;
        font-size: 1rem;
        line-height: 1.2rem;
        margin-bottom: 4rem; }

.introduceSobre {
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .introduceSobre .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .introduceSobre .wrap h2 {
      text-align: center;
      font-size: 2.4rem;
      margin-bottom: 5rem;
      font-weight: 700; }
    .introduceSobre .wrap p {
      font-size: 1.1rem;
      padding: 0 4rem;
      line-height: 1.25rem;
      text-align: justify; }

.equipe {
  width: 100%;
  min-height: 500px; }

/*Planos CSS*/
.planos-header {
  width: 100%;
  height: 500px;
  background-image: url(../img/sobre.jpg);
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .planos-header .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .planos-header .wrap h1 {
      text-align: center;
      font-size: 4rem;
      line-height: 4rem;
      color: white; }

.destaque-planos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0; }
  .destaque-planos .wrap {
    width: 80%;
    height: auto; }
    .destaque-planos .wrap h2 {
      font-size: 2.2rem;
      text-align: center;
      margin-bottom: .9rem; }
    .destaque-planos .wrap h4 {
      text-align: center;
      font-size: 1.1rem;
      line-height: 1.2rem; }

.area-Planos {
  width: 100%;
  height: 500px;
  background: #f7f7f7; }

.area-Login {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/banner-contato.jpg);
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed; }
  .area-Login .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .area-Login .wrap h1 {
      text-align: center;
      font-size: 3.7rem;
      margin-bottom: .9rem;
      line-height: 4rem; }
    .area-Login .wrap h3 {
      text-align: center;
      font-size: .95rem; }

.areaForm {
  width: 100%;
  min-height: 500px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center; }
  .areaForm .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .areaForm .wrap form {
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding: 5rem 0rem; }
      .areaForm .wrap form input {
        width: 100%;
        display: block;
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: .9rem;
        margin-bottom: 2rem;
        transition: box-shadow .3s;
        -webkit-transition: box-shadow .3s;
        -moz-transition: box-shadow .3s;
        font-size: 1.3rem; }
        @media (min-width: 768px) {
          .areaForm .wrap form input {
            width: 70%; } }
        .areaForm .wrap form input::placeholder {
          font-size: 1.3rem; }
      .areaForm .wrap form textarea {
        font-size: 1.3rem;
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: .9rem;
        border: 1px solid rgba(0, 0, 0, 0.3); }
        @media (min-width: 768px) {
          .areaForm .wrap form textarea {
            width: 70%; } }
      .areaForm .wrap form button {
        font-size: 1.1rem;
        display: block;
        margin: 0 auto;
        text-transform: uppercase;
        padding: 20px 5rem;
        border-radius: 300px;
        border: 1px solid black;
        background-color: transparent;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out; }
        .areaForm .wrap form button:hover {
          border: 1px solid transparent;
          cursor: pointer;
          border-color: #e4fde1;
          background-color: #e4fde1; }

/*CSS da AREA de Login para Mobile*/
.login-mobile {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-mobile .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .login-mobile .wrap h1 {
      text-align: center;
      font-size: 4rem;
      margin-bottom: .9rem;
      line-height: 4rem; }
    .login-mobile .wrap h6 {
      text-align: center;
      font-size: 1rem; }

.form-mobile {
  width: 100%;
  height: 400px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form-mobile .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .form-mobile .wrap {
        width: 60%; } }
    .form-mobile .wrap form {
      width: 100%;
      height: auto; }
      .form-mobile .wrap form input {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
        border-radius: 33px;
        padding: .9rem 1rem;
        border: 1px solid rgba(0, 0, 0, 0.4);
        font-size: 1.2rem; }
      .form-mobile .wrap form button {
        font-size: 1.2rem;
        display: block;
        width: 90%;
        margin: 0 auto;
        text-transform: uppercase;
        padding: 8px 45px;
        border-radius: 300px;
        border: 1px solid black;
        background-color: transparent;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out; }
        .form-mobile .wrap form button:hover {
          border: 1px solid transparent;
          cursor: pointer;
          border-color: #e4fde1;
          background-color: #e4fde1; }
    .form-mobile .wrap h5 {
      margin-top: .9rem;
      text-align: center; }

/* Cadastro para o Mobile*/
.header-cadastro-M {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-cadastro-M .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .header-cadastro-M .wrap h1 {
      font-size: 3.4rem;
      text-align: center;
      margin-bottom: .9rem;
      line-height: 4rem; }
    .header-cadastro-M .wrap h6 {
      font-size: 1rem;
      text-align: center; }

.area-cadastro {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem; }
  .area-cadastro .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .area-cadastro .wrap form {
      width: 100%;
      height: auto; }
      .area-cadastro .wrap form input {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1.1rem;
        border-radius: 33px;
        padding: .9rem 1rem;
        border: 1px solid rgba(0, 0, 0, 0.4);
        font-size: 1.2rem; }
        @media (min-width: 425px) {
          .area-cadastro .wrap form input {
            width: 75%; } }
      .area-cadastro .wrap form button {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-transform: uppercase;
        padding: 20px 46px;
        border-radius: 300px;
        border: 1px solid black;
        background-color: transparent;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out; }
        @media (min-width: 425px) {
          .area-cadastro .wrap form button {
            width: 75%; } }
        .area-cadastro .wrap form button:hover {
          border: 1px solid transparent;
          cursor: pointer;
          border-color: #e4fde1;
          background-color: #e4fde1; }

/* Area do Usuario*/
.header-areaUsu {
  width: 100%;
  min-height: 500px;
  background-image: url(../img/hipster.jpg);
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-areaUsu .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .header-areaUsu .wrap h1 {
      font-size: 4rem;
      text-align: center;
      margin-bottom: .9rem; }

.area-Usu {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0; }
  .area-Usu .wrap {
    width: 80%;
    height: auto;
    margin: 0 auto; }

.card {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: auto;
  padding: 0 0rem .9rem; }
  .card input {
    display: block;
    width: 40%;
    float: left;
    margin: 0 5%;
    margin-bottom: 2.8rem;
    padding: .7rem .8rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.2rem; }
  .card .card-thumb {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: auto;
    margin-bottom: 3rem; }
    .card .card-thumb img {
      max-width: 100%;
      height: auto;
      border-radius: 0 0 66px 66px; }
  .card .card-info form {
    width: 100%;
    height: auto; }
  .card .card-info button {
    clear: left;
    font-size: 1.2rem;
    display: block;
    width: 50%;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 8px 45px;
    border-radius: 300px;
    border: 1px solid black;
    background-color: transparent;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
    margin-top: 2rem; }
    .card .card-info button:hover {
      border: 1px solid transparent;
      cursor: pointer;
      border-color: #e4fde1;
      background-color: #e4fde1; }

.enviarFoto {
  color: transparent;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  margin: 75% auto auto !important;
  width: 300px !important;
  height: 75px !important;
  background: transparent;
  border-radius: 0 0 66px 66px;
  cursor: pointer;
  line-height: 4;
  transition: all .4s; }

.enviarFoto:hover {
  background: rgba(0, 0, 0, 0.3);
  color: white; }

.icon-camera {
  visibility: hidden;
  color: floralwhite;
  margin-left: .5rem; }

.enviarFoto:hover > i {
  visibility: visible; }

input[type='file'] {
  display: none; }

/*# sourceMappingURL=main.css.map */
