.planos-header{
	width: 100%;
	height: 700px;
	background-image: url(../img/sobre.jpg);
	background-position: center bottom;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	display: flex;
    justify-content: center;
    align-items: center;

	.wrap{
		width: 80%;
		height: auto;
		margin: 0 auto;
		display: flex;
	    justify-content: center;
	    align-items: center;

		h1{
			text-align: center;
			font-size: 4rem;
			line-height: 4rem;
			color: white;
			font-weight: 700;
		}
	}
}

.destaque-planos{
	width: 100%;
	height: auto;
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
	.wrap{
		width: 80%;
		height: auto;

		h2{
			font-size: 2.2rem;
			text-align: center;
			margin-bottom: .9rem;
			font-weight: 700;
		}

		h4{
			text-align: center;
			font-size: 1.1rem;
			line-height: 1.2rem;
		}
	}
}

.area-Planos{
	width: 100%;
	height: auto;
	padding: 5rem 0;

	.wrap{
		width: 80%;
		height: auto;
		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
		.card-planos{
			width: auto;
			min-height: 300px;
			text-align: center;
			margin: .9rem 0;

			.card-header{
				// padding: 1rem 2rem;

				h4{
					font-size: 2rem;
					margin-bottom: 1rem;
				}

				h6{
					font-size: 1.5rem;
				}
			}

			.card-body{
				padding: 3rem 0rem;

				ul li{
					font-size: 16px;
				    padding: .9rem 0;
				    color: #777;
				    cursor: pointer;
				    border-left: 15px solid transparent;
				    border-right: 15px solid transparent;
				    transition: all 500ms ease-in;

				    &:hover{
				    	border-left: 15px solid rgb(255, 199, 0);
					    border-right: 15px solid rgb(255, 199, 0);
				    }
				}

			}

			.card-footer{
				width: 70%;
				height: auto;
				margin: auto;
				display: flex;
				justify-content: center;
				button{
					font-size: 1.1rem;
					display: block;
					
					margin: 0 auto;	
					text-transform: uppercase;
				    padding: 8px 45px;
				    border-radius: 300px;
				    border: 1px solid black;
				    background-color: transparent;
				    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;

					&:hover{
					    border: 1px solid transparent;
					    cursor: pointer;
					    border-color: #e4fde1;
					    background-color: #e4fde1;
					}
				}
			}
		}
	}
}

.info-planos{
	width: 100%;
	height: 500px;
	background: rgb(247, 247, 247);

	.wrap{
		width: 80%;
		height: auto;
	}
}