.header-sobre{
	width: 100%;
	height: 500px;
	background-color: #fcfcfc;
}
.main-sobre{
	width: 100%;
	height: 500px;
	background-color: #fff;
}

.equipe{
	width: 100%;
	height: 500px;
	background-color: #fffccc;
}
