$pallete: (
    cinza: #1d2221,
    cinza1: #6a7b76,
    cinza2: #444f4c,
    cinza3: #c8cfcd,
    cinza4: #a0aba7,
    amarelo: #ffc42e,
    amarelo1: #ffd873,
    amarelo2: #90540d,
    amarelo3: #e28413,
    amarelo4: #e9a553,
    bege: #65532f,
    bege1: #41351e,
    bege2: #251f12,
    bege3: #736241,
);