@mixin flex($align-items, $j-content) {
	display: flex;
	align-items: $align-items;
	justify-content: $j-content;
}

@mixin btn-padrao($padding-t-b, $padding-r-l, $color: white, $borderRadius: 300px){
	color: $color;
	display: block;
	text-transform: uppercase;
    padding: $padding-t-b $padding-r-l;
    border-radius: $borderRadius;
    border: 1px solid $color;
    background-color: transparent;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;

	@extend %btn-hover;
}