%background-fixed{
	background-position: center bottom;
	background-size: cover;
	background-attachment: fixed;
}

%wrap{
	width: 80%;
	height:auto;
	margin: 0 auto;
}

%flex{
	display: flex;
	align-items: center;
	justify-content: center;
}

%btn-hover{
	
	&:hover{
		color: black;
	    border: 1px solid transparent!important;
	    cursor: pointer;
	    border-color: $cor-hover-btn;
	    background-color: $cor-hover-btn;
	}
}

%sombra{
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}